---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

// fetch content entries
const careerIntro = await getEntry("career", "intro");
const workEntry = await getEntry("career", "work");
const educationEntry = await getEntry("career", "education");

// render their markdowns into html
const { Content: Intro } = await careerIntro.render();
const { Content: Work } = await workEntry.render();
const { Content: Education } = await educationEntry.render();
---

<Layout title="Rodolpho's Homepage - Curriculum">
	<main>
		<h1>Curriculum Vitae</h1>
		<article>
			<h2>{careerIntro.data.title}</h2>
			<Intro />
		</article>
		<article>
			<h2>{workEntry.data.title}</h2>
			<Work />
		</article>
		<article>
			<h2>{educationEntry.data.title}</h2>
			<Education />
		</article>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
